<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>The Long List</title>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/bootstrap-1/css/bootstrap.css}" />

</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-default justify-content-between">
        <a class="navbar-brand" href="/" style="font-family: 'Sue Ellen Francisco', cursive;">TLL</a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="list-style: none;">
            <li class="nav-item">
                <a class="nav-link" href="/plan">My Plans</a>
            </li>
            <li>
                <a class="nav-link" href="/list">My Lists</a>
            </li>
            <li>
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
        </div>
    </nav>
</header>
</body>
</html>
