<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post">
    <div class="form-group">
        <input type = "hidden" th:field="${mealCourse.meal}">
        <select th:field="${mealCourse.course}">
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Course" class="btn btn-success">
    </div>
</form>
</body>
</html>