<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post">
    <div class="form-group">
        <label>Day
            <input th:field="${meal.day}" class="form-control">
        </label>
        <label>Meal
            <input th:field="${meal.mealType}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-success">
    </div>
</form>
</body>
</html>