html {
    background-color: #FFEAD4;
}

body {
    background-color: #FFEAD4;
}

.nav {
    background-color: #BFB09F;
}

.table tr td {
    border-bottom: none;
}

h1{
    background-color: #FFEAD4;
    color: #403B35;
    text-align: center;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 100px;
    padding-top: 75px;
}

h2{
    padding-top: 50px;
    text-align: left;
    color: #403B35;
    font-family: 'Bree Serif', serif;
}

header {
    background-color: #FFEAD4;
    color: #403B35;
}