<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<form th:action="'/plan/'+${planId}+'/day/'+${dayId}+'/meal/form/process'">
    <div class="form-group">
        <label>Name your new Meal (examples: Breakfast, Tom's Lunch, etc.)
            <input th:field="${meal.name}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <input type="submit" th:value="'Add Meal to '+${dayName}" class="btn btn-success">
    </div>
</form>
<a th:href="'/plan/'+${planId}+'/day/'+${dayId}" class="btn btn-success" role="button">Back</a>
</body>
</html>