<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container">
    <h2 th:text="${title}">The Long List</h2>
    <table class="table table-hover">
        <tr>
            <th>Ingredients</th>
            <th>Category</th>
        </tr>
        <tr th:each="courseIngredient : ${courseIngredients}">
            <td th:text="${courseIngredient.name}"></td>
            <td th:text="${courseIngredient.category}"></td>
            <td><a th:href="'/plan/'+${planId}+'/day/'+${dayId}+'/meal/'+${mealId}+'/course/'+${courseId}+'/ingredient/'+${courseIngredient.id}+'/remove'" class="btn btn-danger">Remove</a></td>
        </tr>
    </table>
    <form th:action="'/plan/'+${planId}+'/day/'+${dayId}+'/meal/'+${mealId}+'/course/'+${courseId}+'/ingredient/add'">
        <div class="form-group">
            <input type = "hidden" th:field="${courseIngredient.course}">
            <select th:field="${courseIngredient.ingredient}">
                <option th:each="ingredient : ${allIngredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Ingredient" class="btn btn-success">
        </div>
    </form>
    <a th:href="'/plan/'+${planId}+'/day/'+${dayId}+'/meal/'+${mealId}+'/course/'+${courseId}+'/ingredient/create'" class="btn btn-success" role="button">Create a new Ingredient</a>
    <a th:href="'/plan/'+${planId}+'/day/'+${dayId}+'/meal/'+${mealId}" class="btn btn-success" role="button">Back</a>
</div>

</body>
</html>