<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<table class="table">
    <tr>
        <th>Meals</th>
    </tr>
    <tr th:each="meal : ${meals}">
        <td><a th:href="'/plan/'+${planId}+'/day/'+${dayId}+'/meal/'+${meal.id}" th:text="${meal.name}"></a></td>
    </tr>
    <tr>
        <td><a th:href="'/plan/' + ${planId} + '/day/' + ${dayId} + '/meal/form'">Add a Meal</a></td>
    </tr>
</table>
<a th:href="'/plan/' + ${planId}" class="btn btn-success" role="button">Back to Plan</a>
</body>
</html>