<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container">
    <h2 th:text="${title}">The Long List</h2>
    <table class="table table-hover">
        <tr th:each="planDay : ${planDays}">
            <td><a th:href="'/plan/' + ${planId} + '/day/' + ${planDay.id}" th:text="${planDay.name}"></a></td>
        </tr>
    </table>
    <a th:href="'/plan/' + ${planId} + '/list/generate'" class="btn btn-success" role="button">Finish and Create List</a>
</div>


</body>
</html>