<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<table class="table">
    <tr>
        <th>Meals</th>
    </tr>
    <tr th:each="meal : ${meals}">
        <td th:text="${meal.name}"></td>
    </tr>
    <tr>
        <td><a th:href="'meals/create?dayId=' + ${dayId}">Add a Meal</a></td>
    </tr>
</table>
<a th:href="'plans/new-plan?planId=' + ${planId}" class="btn btn-success" role="button">Back to Plan</a>
</body>
</html>