<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${courseIngredient.course}">
        <select th:field="${courseIngredient.ingredient}">
            <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}" th:text="${ingredient.name}"
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Ingredient" class="btn btn-success">
    </div>
</form>
</body>
</html>