<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<table class="table">
    <tr th:each="course : ${courses}">
        <td th:text="${course.name}"></td>
        <td>
            <span th:each="ingredient : ${ingredients}" th:text="${ingredient.name} + ', '"></span>
        </td>
        <td>
            <a th:href="'courses/add-course-ingredient?courseId=' + ${course.id}">Add Ingredient</a>
        </td>
    </tr>
</table>
<a href="courses/create">Create a new Course</a>
</body>
</html>